<main class="w-full h-full flex justify-center items-center">
    <form class="w-4/5 h-4/5 flex flex-col justify-around items-stretch">
        <div class="flex flex-col items-stretch">
            <label class="font-bold" for="firstname">First name</label>
            <input
                class="
                    py-2
                    px-3
                    border
                    rounded
                    shadow
                    hover:outline-blue-400
                    focus:outline-blue-400
                "
                id="firstname"
                type="text"
                placeholder="Type your first name here"
            />
        </div>
        <div class="flex flex-col items-stretch">
            <label class="font-bold" for="lastname">Last name</label>
            <input
                class="
                    py-2
                    px-3
                    border
                    rounded
                    shadow
                    hover:outline-blue-400
                    focus:outline-blue-400
                "
                id="lastname"
                type="text"
                placeholder="Type your last name here"
            />
        </div>
        <div class="flex flex-row justify-end">
            <input
                type="submit"
                class="
                    py-2
                    px-4
                    rounded
                    text-white
                    bg-blue-500
                    hover:bg-blue-700
                "
                value="Sign In"
            />
        </div>
    </form>
</main>
